<%- include('../layout/head') %>

    <link rel="stylesheet" href="/css/sobre.css">
    <title>Projeto E-commerce - Sbre Nós</title>

</head>
<body>
    <%- include('../layout/header') %>
    <main>
        <section>
            <h2>Sobre Nós</h2>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab nihil reprehenderit aperiam expedita ad temporibus vitae cum atque impedit eligendi? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius tempora, consectetur architecto quam fugit nulla facere fugiat repellendus aperiam cum nemo expedita, error esse minus similique autem sapiente sunt corrupti.</p>

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum ab voluptas reprehenderit, neque sint similique sunt quo, quas adipisci quasi cupiditate odit assumenda sed beatae? Officiis officia laboriosam numquam nulla!</p>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus ut quos quas numquam, temporibus inventore?</p>
            
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem odio, laudantium laboriosam autem cum a non, optio iusto inventore maxime sunt, minima necessitatibus? Doloremque illo dolore ipsa laudantium excepturi inventore?</p>

            <p class="att">Atenciosamente,</p>
            <p><b>Lorem Ipsum</b></p>
        </section>
    </main>
    <%- include('../layout/footer') %>
</body>
</html>