<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="col-md-4 d-flex align-items-center">
    <span class="text-muted">© 2021 E-commerce. Todos os direitos Reservados</span>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3">
      <a class="text-muted" target="_blank" href="https://www.facebook.com/demian.panassol.18/"><i class="fab fa-facebook"></i></a>
    </li>
    <li class="ms-3">
      <a class="text-muted" target="_blank" href="https://github.com/DemianPanassol01"><i class="fab fa-github"></i></a>
    </li>
    <li class="ms-3">
      <a class="text-muted" target="_blank" href="https://www.linkedin.com/in/demian-panassol-malaguti-b15729202/"><i class="fab fa-linkedin"></i></a>
    </li>
  </ul>
</footer>
